body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  overflow: hidden;
  height: auto;
}

#content {
  display: none;
  height: 100%;
  width: 100%;
}

#content-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:90vh;
  font-size: 18px;
}

#respondBox {
  border-style: solid;
  border-width: thin;
  width: 60%;
  height: 70vh;
  overflow: scroll;
  border-radius: 5px;
}

#respondDiv, #searches {
  width: fit-content;
  margin: 5px 20% 10px 5px;
  border: thin solid rgb(154, 224, 201);
  border-radius: 5px;
  background-color: rgb(154, 224, 201);
}

#searchRespond {
  max-height: 25vh;
  margin: 15px 15px 10px 15px;
  border: thin solid rgb(79, 189, 152);
  border-radius: 5px;
  background-color: rgb(79, 189, 152);
  font-size: 16px;
  display: flex;
}

#respondDiv p, #requestDiv p {
  margin: 10px;
}

.imgs {
  width: 30%;
  margin: 5px 0 5px 5px;
  display: flex;
}

.imgs img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.text {
  width: fit-content;
  overflow: scroll;
  margin: 5px 5px 5px 0;
}

#searchRespond p, #searchRespond h3 {
  margin: 0 5px 0 10px;
}

#requestDiv {
  width: fit-content;
  max-width: 80%;
  margin: 5px 5px 10px auto;
  border: thin solid rgb(110, 179, 243);
  border-radius: 5px;
  background-color: rgb(110, 179, 243);
}

#lights {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: max-content;
  margin: auto 0 0 0;
}

#lamp-desk {
  width: 60%;
}

#lamp-floor {
  width: 35%;
}

#phraseDiv {
  display: inline-block;
  width: 85%;
  height: 15vh;
  padding: 5px 0 0 10px;
  border-width: thin;
  border-radius: 5px;
  font-size: 16px;
}

#talkButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8%;
  border-width: thin;
  border-radius: 5px;
}

#btn-txt {
  margin: 0.5em;
}

#language-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#language-btns button {
  height: 45%;
}

.hidden {
  display: none;
}
